@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #1c1a19;
  overflow-x: hidden;
}

/* nav container */

header {
  background: #fff;
  height: 48px;

  @media (min-width: 768px) {
    height: 120px;
  }
}

.navContainer {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: #fff;
}

.nav__desktop,
.nav_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 6.4%;

  @media (min-width: 768px) {
    padding-left: 12%;
  }
}

.nav_top {
  background-color: #272a31;
  height: 48px;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu .logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  color: #fff;
  animation-name: fadeInOut;
  animation-duration: 2.5s;
}

.logo img {
  width: 60px;
}

/* close button menu */

.nav__mobile_menu {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  list-style: none;
  line-height: 44px;
  padding: 12% 6.4%;
}

.nav__btn_mobile_closed span {
  font-weight: 200;
  font-size: 30px;
}

.nav__mobile_menu li a {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 32px;
}

.nav__btn_mobile_closed {
  position: absolute;
  top: 12px;
  right: 48px;
}

.nav_btn_list {
  padding-bottom: 2%;
  border-bottom: 1px solid #fff5e1;
  margin-bottom: 6%;
}

@keyframes fadeInOut {
  from {
    margin-left: 40%;
    width: 30%;
  }

  to {
    margin-left: 0%;
    width: 10%;
  }
}

.navMenu {
  margin: 6.4% 3.2% 6.4% 3.2%;
  width: max-content;

  @media (min-width: 768px) {
    width: 0;
  }
}

.navItems,
.nav_top ul {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10%;
  }
}

.nav_top ul {
  margin-right: 20%;
}

.navItems li,
.nav_top li {
  list-style: none;
  margin-left: 8.53%;
}

.nav_top li {
  margin-left: 2.53%;
}

.navMenu li {
  list-style: none;
}

.nav_fbBtn,
.nav_instagramBtn {
  width: 15px;
  height: auto;
}

.navItems li a,
.nav_top li a {
  font-family: 'Lato', sans-serif;
  font-size: 0.95em;
  color: #d3d3d3;
  text-decoration: none;
}

.navBtnMessage {
  display: flex;
  position: relative;
}

.navBtnMessage .messageBtn {
  display: none;
  pointer-events: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.navBtnMessage.active .messageBtn {
  pointer-events: none;

  @media (min-width: 768px) {
    pointer-events: auto;
  }
}

.navBtnMenu .menuBtn {
  display: block;
  pointer-events: auto;

  @media (min-width: 768px) {
    display: none;
    pointer-events: none;
  }
}

.navBtnMenu.active .menuBtn {
  pointer-events: auto;

  @media (min-width: 768px) {
    pointer-events: none;
  }
}

.navItems li a:focus-within,
.navItems li a:hover {
  color: #ec5242;
}
