@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

:root {
  --mainColor: #595337;
  --amarilloMain: #dbcdae;
}

body {
  margin: 0;
  padding: 0;
  background: #e0d9d808;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

/* nav container */

header {
  height: 48px;
  background: #e0d9d808;
}

.navContainer {
  height: 100%;
}

.header_wrapper {
  height: 100%;
}

.nav_ham_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0d9d808;
  height: 100%;
  margin-left: -4%;
}

.nav_menu {
  display: none;
}

.nav__desktop,
.nav_top {
  display: none;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 6.4%;
}

.nav_top {
  background-color: #434e25;
  height: 48px;
}

form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  color: #fff;
  animation-name: fadeInOut;
  animation-duration: 2.5s;
}

footer img {
  width: 49%;
  margin-right: 5%;
}

.logo img {
  width: 60px;
}

/* close button menu */
.nav_main_mobileMenu {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #d3d3d3d2;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav__mobile_menu {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  list-style: none;
  line-height: 44px;
  padding: 12% 6.4%;
  z-index: 10;
  position: relative;
  backdrop-filter: blur(10px);
  top: 3.2%;
  left: 0.2%;
  right: 3.2%;
  bottom: 3.2%;
  overflow-y: scroll;
}

.nav__btn_mobile_closed span {
  font-weight: 200;
  font-size: 30px;
}

.headlineSocial a {
  padding: 2.13%;
}

.bottomNav a {
  padding: 2.13%;
}

.mainHeadline p,
.mainHeadline a {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #272a31;
}

.mainHeadline a {
  font-weight: 900;
}

.nav__mobile_menu li a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
}

.nav__btn_mobile_closed {
  position: absolute;
  top: 12px;
  right: 48px;
}

.nav_btn_list {
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
  margin-bottom: 6%;
}

@keyframes fadeInOut {
  from {
    margin-left: 40%;
    width: 30%;
  }

  to {
    margin-left: 0%;
    width: 10%;
  }
}

.navItems,
.nav_top ul {
  display: none;
}

.nav_top ul {
  margin-right: 20%;
}

form li {
  width: 100%;
}

.navItems li,
.nav_top li {
  list-style: none;
  margin-left: 6%;
}

.nav_top li {
  margin-left: 2.53%;
}

.navMenu li {
  list-style: none;
}

.nav_fbBtn,
.nav_instagramBtn {
  width: 15px;
  height: auto;
}

.catWrapper li {
  list-style: none;
}

.navItems li a,
.nav_top li a {
  font-size: 0.95em;
  color: #d3d3d3;
  text-decoration: none;
}

/* headline container */

.home_back {
  background: #eaeaea;
  background-repeat: no-repeat;
  background-image: url("./images/fondo.png");
  background-position-y: 100%;
  background-position-x: 100%;
}

section {
  background: #eaeaea;
  display: flex;
  align-items: center;
  padding: 4% 6.4% 16% 6.4%;
  background-repeat: no-repeat;
  background-image: url("./images/fondo.png");
  background-position-y: 100%;
  background-position-x: 100%;
}

#section_about {
  padding-left: 5%;
}

.mainHeadline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section_top_greet {
  font-size: 25px;
  color: var(--mainColor);
}

.section_organization p,
.section_organization span {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.section_organization span {
  display: none;
}

.program li:hover,
.program li:focus-within {
  padding: 6%;
  background-color: var(--mainColor);
}

.programa_actividad span {
  display: flex;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 700;
  margin-right: 5%;
  justify-self: flex-end;
}

.programa_actividad p {
  color: #fff;
  font-size: 14px;
  width: 95%;
}

.speaker_card span,
.speaker_cardMob span {
  color: var(--mainColor);
  font-size: 14px;
  margin: 0 0 2% 0;
}

.footer_credits span {
  font-size: 12px;
}

.footer_credits p {
  font-size: 13px;
  display: none;
}

#mainHeadlineAbout {
  justify-content: center;
}

.mainHeadline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 47px;
  letter-spacing: 1.37px;
  margin-bottom: 2%;
  margin-top: 1%;
  color: var(--mainColor);
}

.mainHeadline span {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--mainColor);
}

.mainHeadline p {
  border: 2px solid #fff;
  padding: 2%;
  background-color: #f8f8f8;
}

#mainHeadlineAbout h1,
#mainHeadlineAbout span,
#mainHeadlineAbout p {
  text-align: center;
}

#mainHeadlineAbout p {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 3% 5%;
  margin-bottom: 7%;
}

#section_emailRight {
  text-decoration: none;
  color: #7d7f85;
  margin-left: 2%;
}

#headlineContentAbout {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section_organization {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 5% 19%;
}

#section_organ_top {
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
}

.section_organ_images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h2 {
  color: var(--mainColor);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
}

form h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-right: 3.2%;
}

.section_organization h2 {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.section_organization img {
  margin-top: 5%;
  border: 1px solid #d3d3d3;
  padding: 1% 5%;
}

.section_organ_images img {
  border: none;
  padding: 0;
  width: 100%;
}

.navBtnMessage {
  display: flex;
  position: relative;
}

.navBtnMessage .messageBtn {
  display: none;
  pointer-events: none;
}

.navBtnMessage.active .messageBtn {
  pointer-events: none;
}

.navBtnMenu .menuBtn {
  display: block;
  pointer-events: auto;
  width: 30px;
}

.navBtnMenu.active .menuBtn {
  pointer-events: auto;
}

.program li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

#nav_home_item,
#nav_about_item,
#nav_form_item,
#nav_blog_item {
  color: var(--mainColor);
}

.navItems li a:focus-within,
.navItems li a:hover {
  color: var(--mainColor);
}

.navItems #nav_blog_list {
  border: 3px solid var(--mainColor);
  padding: 0.5% 2%;
}

.bottomNav ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 24px;
  justify-content: center;
  list-style: none;
  margin-top: 12.8%;
  margin-bottom: 12.8%;
}

.program {
  display: flex;
  flex-direction: column;
  background-color: #c4a870;
  align-items: flex-start;
  justify-content: center;
  padding: 3%;
}

.program h3 {
  color: #fff;
  align-self: center;
}

.program_separator,
.speakers_separator,
.partner_separator,
.section_organ_separator {
  width: 20px;
  height: 1px;
  background-color: var(--mainColor);
  align-self: center;
  margin-bottom: 3%;
}

.program_item {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.programa_actividad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  margin-bottom: 3%;
  background-color: #59533740;
  width: 94%;
}

.program_joinBTNMob {
  display: flex;
  background-color: var(--mainColor);
  padding: 5% 9%;
  align-self: center;
  list-style: none;
  margin-top: 7%;
  margin-bottom: 7%;
}

.program_joinBTNDesktop {
  display: none;
  padding: 5%;
  align-self: center;
  list-style: none;
  margin-top: 9%;
}

.programa_actividad img {
  width: 35px;
  margin-right: 5%;
  margin-bottom: 2%;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 5% 0;
  background-color: #f8f8f8;
}

.content_speakersMob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
}

.content_speakers {
  display: none;
  margin-top: 6%;
}

.speaker_card,
.speaker_cardMob {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30vw;
  margin: 0;
}

.speaker_cardMob {
  width: 90vw;
  margin-bottom: 7%;
}

.card_separator,
.card_separatorMob {
  width: 7%;
  height: 1px;
  margin-bottom: 2%;
  background-color: #d3d3d3;
  align-self: flex-start;
}

.speakers_card_rightDiv,
.speakers_card_rightDivMob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.speaker_card img,
.speaker_cardMob img {
  width: 80px;
  margin-right: 3%;
}

.speaker_card h4,
.speaker_cardMob h4 {
  font-weight: 900;
  font-size: 15px;
  margin: 0 0 2% 0;
}

.speaker_card .speaker_backg,
.speaker_cardMob .speaker_backgMob {
  font-size: 14px;
  color: #000;
}

.speaker_btnMob {
  border: 1px solid #d3d3d3;
  padding: 2%;
  width: 90%;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.speaker_btnArrow {
  color: var(--mainColor);
  margin-left: 2%;
}

footer {
  display: none;
  background-color: #f2f2f2;
  padding: 5% 7%;
}

#footerAbout {
  display: flex;
}

.footer_credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.partner img {
  margin-left: 7%;
  margin-right: 7%;
}

.partner {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainColor);
  padding: 1% 5% 5% 5%;
}

#partner_sectionAbout {
  display: flex;
}

.partner h3 {
  color: #d3d3d3;
}

.partner_images {
  display: flex;
  flex-direction: column;
}

.partner_imagesTop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7%;
}

.partner_imagesDown {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: var(--mainColor);
  cursor: pointer;
  padding: 3.2% 6%;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  transition: padding 1s, color 1s, background-color 1s;
}

button:hover {
  padding: 3.8% 6.4%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 11%;
}

form input {
  border-width: 0 0 2px 0;
  border-style: solid;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 3.73%;
  box-sizing: border-box;
  color: #979493;
  margin-top: 2%;
}

form li textarea {
  font-style: italic;
  border: none;
  background-color: #87844f2e;
  width: 100%;
  height: 30.4%;
  padding: 3.2%;
  box-sizing: border-box;
  margin: 5% 0;
}

@media screen and (min-width: 768px) {
  header {
    height: 120px;
    background-color: #000;
  }

  .nav_ham_menu,
  .program_joinBTNMob,
  .content_speakersMob,
  .speaker_btnMob,
  #partner_sectionAbout {
    display: none;
  }

  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background: #fff;
  }

  .nav__desktop,
  .nav_top {
    display: flex;
    padding-left: 12%;
  }

  footer img {
    max-height: 10vh;
    width: 29%;
    margin-right: 3%;
  }

  .mainHeadline p,
  .mainHeadline a {
    width: 100%;
  }

  section {
    padding-top: 3%;
    padding-bottom: 9%;
    padding-left: 15%;
    background-image: url("./images/fondo.png");
    background-position-y: 0;
    background-position-x: 0;
  }

  .mainHeadline {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  #section_top_greet {
    font-size: 25px;
    margin-top: 7%;
  }

  .section_organization span {
    display: flex;
  }

  .programa_actividad span {
    margin-right: 0;
  }

  .programa_actividad p {
    text-align: center;
  }

  .footer_credits span,
  .footer_credits p,
  .navBtnMessage .messageBtn {
    display: block;
  }

  .mainHeadline h1 {
    font-size: 51px;
  }

  .headlineContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55.4%;
  }

  .section_organization {
    padding: 3% 12%;
  }

  .section_organ_images {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .section_organ_images img {
    width: 40%;
    margin-right: 5%;
  }

  .navBtnMessage.active .messageBtn {
    pointer-events: auto;
  }

  .navBtnMenu .menuBtn {
    display: none;
    pointer-events: none;
  }

  .navBtnMenu.active .menuBtn {
    pointer-events: none;
  }

  .program li a {
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 12%;
  }

  .program_item {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .programa_actividad {
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    margin-right: 0.5%;
    padding: 1%;
  }

  .program_joinBTNDesktop {
    display: flex;
    margin-top: 3%;
    padding: 0;
  }

  .speakers {
    padding: 2% 25% 5% 25%;
  }

  .content_speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 7%;
    column-gap: 0;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 4% 15%;
  }

  #footerAbout {
    background-color: var(--mainColor);
    color: #fff;
  }

  .partner img {
    margin-left: 3%;
    margin-right: 2%;
  }

  .partner {
    display: flex;
    padding: 1% 5%;
  }

  .partner_images {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  .partner_imagesTop {
    margin-right: 8%;
    margin-bottom: 0;
  }

  .program li:hover,
  .program li:focus-within {
    padding: 0;
    background-color: #c4a870;
  }

  .program li a:hover,
  .program li a:focus-within {
    color: var(--mainColor);
  }

  form ul {
    width: 60%;
  }

  .navItems,
  .nav_top ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 20%;
  }

  #footerAbout img {
    content: url("images/logoFooterAbout.png");
  }

  form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 6% 3.2% 9.41% 3.2%;
    margin-bottom: 2%;
  }

  form h3 {
    width: 31.6%;
    color: #262626;
    font-size: 24px;
    text-align: left;
    line-height: 42px;
    margin-bottom: 0;
  }

  form input {
    border-width: 0 0 1px 0;
    margin-bottom: 2%;
  }

  form li textarea {
    margin: 2% 0;
  }
}
